# 1. Loading Tags to Dynamo

In [1]:
import boto3
import warnings
import numpy as np
from Loaders import DynamoLoader
warnings.filterwarnings("ignore")

# A. Creating Dynamo Loader

In [3]:
file_tags= 'app-data/tags.csv'
dbtable  = 'my-poc'

tloader = DynamoLoader(file_tags, dbtable, drop=True)
display(tloader.df.head(3), tloader.status())

Creating table ...
Created :)

,userId,movieId,tag,timestamp,pk,_insert,_insert_time,_update,_update_time,_delete,_delete_time
0,3,260,classic,1439472355,0,0,0,0,0,0,0
1,3,260,sci-fi,1439472256,1,0,0,0,0,0,0
2,4,1732,dark comedy,1573943598,2,0,0,0,0,0,0

{'state': 'AVAILABLE',
 'iteration': 0,
 'inserted': 0,
 'updated': 0,
 'deleted': 0,
 'indb': 0,
 'exists': True}

--------

# B. SQL Loading
### B1. Full-Load

In [4]:
tloader.iud(inserts=100, updates=0 , deletes=0, max_registers=2000)

[AVAILABLE] DB:0 | I:2000, U:0, D:0 | I/s:78, U/s:0, D/s:0 | Loop:95.00%, DF:0.18%

### B2. CDC (Inserts, Updates, Deletes)

In [ ]:
tloader.iudx(inserts=100, updates=10, deletes=1)